<section class="content-header">
    <h1>eLibrary
        <small>add new book in the system</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref='welcome'><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref='libraryBooks'>View Books</a></li>
        <li class="active">Add Book</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="row col-md-10" style="padding-top: 5%;">
            <table class="table">
                <thead>
                <tr>
                    <th class="col-sm-4"><span class="glyphicon-asterisk"></span> ISBN</th>
                    <th class="col-sm-8"><span class="glyphicon-asterisk"></span> Title</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" class="form-control" placeholder="..."/></td>
                    <td><input type="text" class="form-control" placeholder="..."/></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-md-10">
            <table class="table">
                <thead>
                <tr>
                    <th class="col-sm-4"><span class="glyphicon-asterisk"></span> Language/s</th>
                    <th class="col-sm-8"><span class="glyphicon-asterisk"></span> Format/s</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" class="form-control" placeholder="..."/></td>
                    <td><input type="text" class="form-control" placeholder="..."/></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-md-10">
            <table class="table">
                <thead>
                <tr>
                    <th class="col-sm-8"><span class="glyphicon-asterisk"></span> Subject/s</th>
                    <th class="col-sm-4"><span class="glyphicon-asterisk"></span> Publication Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" class="form-control" placeholder="..."/></td>
                    <td><input type="text" class="form-control" placeholder="..."/></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-md-10">
            <table class="table">
                <thead>
                <tr>
                    <th><span class="glyphicon-asterisk"></span> Book short description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><textarea class="textarea col-sm-8" id="summary" rows="5" placeholder="..."></textarea></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-md-10">
            <table class="table">
                <thead>
                <tr>
                    <th class="col-sm-6"><span class="glyphicon-asterisk"></span> Author First Name</th>
                    <th class="col-sm-6"><span class="glyphicon-asterisk"></span> Author Last Name</th>
                    <th class="col-sm-1"></th>
                    <th class="col-sm-1"></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="row in rows track by $index">
                    <td><input ng-model="firstName" type="text" class="form-control" placeholder="..."/></td>
                    <td><input ng-model="lastName" type="text" class="form-control" placeholder="..."/></td>
                    <td>
                        <button ng-click="vm.addRow()" class="btn btn-success btn-xs" datatype="plus">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </td>
                    <td>
                        <button ng-show="$index > 0" ng-click="vm.removeRow($index)" datatype="minus"
                                class="btn btn-danger  btn-xs">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-10" style="padding-top: 2%;">
            <button ng-click="vm.save()" class="btn btn-primary btn-block"><i class="fa fa-check-square-o"></i> Save</button>
        </div>
    </div>
</section>