<section class="content-header">
    <h1>---</h1>
    <ol class="breadcrumb">
        <li><a ui-sref='admin'><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref='libraryBooks'>View Books</a></li>
        <li class="active">Add Book</li>
    </ol>
</section>

<section class="content">
    <form role="form">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Please fill in required fileds marked with <strong><span
                        class="glyphicon-asterisk"></span></strong></h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row" style="padding-top: 2%">
                    <label for="isbn" class="col-sm-1 control-label">ISBN<span
                            class="glyphicon-asterisk"></span></label>
                    <input id="isbn"
                           class="col-md-3"
                           ng-model="vm.book.isbn"
                           type="text" name="isbn"
                           ng-required="true">

                    <label for="title" class="col-sm-1 control-label">Title<span
                            class="glyphicon-asterisk"></span></label>
                    <input id="title"
                           class="col-md-5"
                           ng-model="vm.book.title"
                           type="text" name="title"
                           ng-required="true">
                </div>
                <div class="row" style="padding-top: 2%">
                    <label for="subject" class="col-sm-1 control-label">Subject<span
                            class="glyphicon-asterisk"></span></label>
                    <select id="subject" ng-model="vm.book.bookDetails.subject" class="col-md-3">
                        <option ng-selected="vm.book.bookDetails.subject == subject.id"
                                ng-repeat="subject in vm.bookSubjects" ng-value="subject.id">{{subject.description}}
                        </option>
                    </select>

                    <label for="format" class="col-sm-1 control-label">Format<span
                            class="glyphicon-asterisk"></span></label>
                    <select id="format" ng-model="vm.book.bookDetails.format" class="col-md-2" ng-required="true">
                        <option ng-selected="vm.book.bookDetails.format == format.id"
                                ng-repeat="format in vm.bookFormats" ng-value="format.id">{{format.description}}
                        </option>
                    </select>

                    <label for="language" class="col-sm-1 control-label">Language<span
                            class="glyphicon-asterisk"></span></label>
                    <select id="language" ng-model="vm.book.bookDetails.language" class="col-md-2">
                        <option ng-selected="vm.book.bookDetails.language == language.id"
                                ng-repeat="language in vm.bookLanguages" ng-value="language.id">{{language.description}}
                        </option>
                    </select>
                </div>
                <hr>
                <div class="row" style="padding-top: 2%">
                    <label for="summary" class="col-sm-1 control-label">Summary</label>
                    <textarea id="summary" ng-model="vm.book.bookDetails.description"
                              class="col-xs-5 textarea" rows="3"
                              placeholder="..."></textarea>
                </div>
            </div>
            <div class="box-footer">
                <div class="pull-right">
                    <button ng-click="vm.save()" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Save
                    </button>
                </div>
            </div>
        </div>
    </form>
</section>