<section class="content-header">
    <h1>eLibrary
        <small>display book information's</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref='welcome'><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref='libraryBooks'>View Books</a></li>
        <li class="active">Book Details</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="row col-md-10" style="padding-top: 5%;">
            <table class="table">
                <thead>
                <tr>
                    <th class="col-sm-4"><span class="glyphicon-align-center"></span> ISBN</th>
                    <th class="col-sm-8"><span class="glyphicon-align-center"></span> Title</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><p class="text-danger">{{bookDetails.isbn}}</p></td>
                    <td><p class="text-danger">{{bookDetails.title}} </p></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-md-10">
            <table class="table">
                <thead>
                <tr>
                    <th class="col-sm-4"><span class="glyphicon-align-center"></span> Language/s</th>
                    <th class="col-sm-8"><span class="glyphicon-align-center"></span> Format/s</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="detail in bookDetails.bookDetails">
                    <td><p>{{detail.language}}</p></td>
                    <td><p>{{detail.format}}</p></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-md-10">
            <table class="table">
                <thead>
                <tr>
                    <th class="col-sm-8"><span class="glyphicon-asterisk"></span> Subject/s</th>
                    <th class="col-sm-4"><span class="glyphicon-asterisk"></span> Publication Date</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="detail in bookDetails.bookDetails">
                    <td><p>{{detail.subject}}</p></td>
                    <td><p>{{detail.publicationDate | date:'yyyy-MM-dd'}}</p></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-md-10">
            <table class="table">
                <thead>
                <tr>
                    <th><span class="glyphicon-asterisk"></span> Book short description</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="detail in bookDetails.bookDetails">
                    <td><p>{{detail.description}}</p></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-md-10">
            <table class="table">
                <thead>
                <tr>
                    <th class="col-sm-6"><span class="glyphicon-asterisk"></span> Author First Name</th>
                    <th class="col-sm-6"><span class="glyphicon-asterisk"></span> Author Last Name</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="author in bookDetails.bookAuthors">
                   <td>{{author.firstName}}</td>
                   <td>{{author.lastName}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>