<section class="content-header">
    <h1>
        eLibrary
        <small>display all books</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref='welcome'><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">View Books</li>
    </ol>
</section>

<section class="content">
    <div class="row" style="padding-top: 2%">
        <input type="text" ng-model="filterTerm" class="form-control"
               placeholder="Search by isbn, title or author name..."/>
    </div>
    <br/>
    <div class="row" style="padding-top: 2%">
        <label for="numPerPage" >Show </label>
        <select id="numPerPage" ng-model="numPerPage">
            <option ng-selected="10" ng-value="10">10</option>
            <option ng-value="25">25</option>
            <option ng-value="50">50</option>
            <option ng-value="100">100</option>
        </select>
        <label> entries</label>
    </div>

    <div class="row" style="padding-top: 1%">
        <table id="libraryBooksTable" class="display table table-bordered table-hover dataTable" cellspacing="0"
               width="100%">
            <thead>
            <tr>
                <th>ISBN</th>
                <th>Title</th>
                <th>Author Names</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="book in libraryBooks | filter:filterTerm | filter:paginate | limitTo: numPerPage">
                <td class="col-md-3"><a ui-sref="bookDetails({id: book.id})">{{book.isbn}}</a></td>
                <td class="col-md-3">{{book.title}}</td>
                <td class="col-md-3" data-ng-repeat="author in book.bookAuthors"><a
                        ui-sref="authorBooks({authorName: author.firstName + ' ' + author.lastName})">
                    {{author.firstName + ' ' + author.lastName}}</a>
                </td>
                <td class="col-md-1">
                    <button ui-sref="updateBook({id: book.id})" class="btn btn-xs center-block btn-primary"
                            data-toggle="confirmation" data-popout="true" >
                        <i class="fa fa-check-square-o"></i> Edit
                    </button>
                </td>
                <td class="col-md-1">
                    <button class="btn btn-xs center-block btn-danger" ng-click="vm.delete(book.id)">
                        <i class="fa fa-check-square-o"></i> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <pagination total-items="libraryBooks.length" ng-model="currentPage"
                    max-size="5" boundary-links="true"
                    items-per-page="numPerPage" class="paginatio text-center pull-right">
        </pagination>
    </div>
</section>