<section class="content-header">
    <h1>
        eLibrary
        <small>database content</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref='admin'><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">View Books</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="box-body">
            <table id="libraryBooks" class="table table-bordered table-hover dataTable" role="grid">
                <thead>
                <tr>
                    <th>BOOK ID</th>
                    <th>ISBN</th>
                    <th>TITLE</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="book in vm.bookInfo">
                    <td>{{book.bookId}}</td>
                    <td>{{book.isbn}}</td>
                    <td>{{book.title}}</td>
                    <td><a class="btn btn-xs center-block btn-primary">Edit</a></td>
                    <td><a class="btn btn-xs center-block btn-danger">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>