<section class="content-header">
    <h1>
        eLibrary
        <small>display all books</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref='admin'><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">View Books</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <!-- TODO search book -->
        <form class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search by isbn, title or author name...">
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
                </span>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="box-body">
            <table id="libraryBooks" class="table table-bordered table-hover dataTable" role="grid">
                <thead>
                <tr>
                    <th>ISBN</th>
                    <th>Title</th>
                    <th>Author Names</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="book in vm.books">
                    <td>{{book.isbn}}</td>
                    <td><a ui-sref="bookDetails({id: book.id})">{{book.title}}</a></td>
                    <td ng-repeat="author in book.bookAuthors">{{author.firstName + ' ' + author.lastName}}</td>
                    <td>
                        <button ui-sref="updateBook({id: book.id})" ng-click="vm.editBook(book.id)"
                                class="btn btn-xs center-block btn-primary">Edit
                        </button>
                    </td>
                    <td>
                        <button ng-click="delete(book.id)" class="btn btn-xs btn-danger"><i
                                class="fa fa-check-square-o"></i> Delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>