<section class="content-header">
    <h2>
        eLibrary
        <small>home page</small>
    </h2>
    <ol class="breadcrumb">
        <li><a ui-sref='welcome'><i class="fa fa-dashboard"></i> Home</a></li>
    </ol>
</section>

<section class="content">
    <div class="row" ng-controller="WelcomePageCtrl as vm">
        <input type="text" ng-model="searchTerm" class="form-control"
               placeholder="Search by isbn, title or author name..."
               typeahead="book.title for book in vm.searchBook($viewValue) | limitTo:5"
               typeahead-on-select='vm.viewBookDetails($item)'
               typeahead-loading="loadingLocations"
               typeahead-no-results="noResults"/>
        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="noResults">
            <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>
    </div>
</section>